:root {
    --first-color: #FFF;
    --second-color: #000;
    --third-color: red;
}
html, body, div, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}
main {
    height: 100%;
}
.conteiner-game {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.conteiner-game__lines {
    display: flex;

}
.conteiner-game__walls, .conteiner-game__paths, .player {
    width: 30px;
    height: 30px;
}
.conteiner-game__walls {
    background-color: var(--second-color);
}
.conteiner-game__paths {
    background-color: var(--third-color);
    
}
.player {
    background-color: var(--first-color);
    border: 2px solid green;
}